{% extends "users/base.html" %}
{% block skystore %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Регистрация</h1>
</div>
{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form.is_bound and form.errors %}
        <div class="alert alert-danger">
            <ul class="mb-0">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {{ form.as_p }}

    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Зарегистрироваться</button>

</form>
{% endblock %}